@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="clear"></div>

<div class="col-lg-4">
    <div class="imgspace">
        <img src=" ~/images/logo.png" />
    </div>
    
</div>


    <div class="col-lg-8">
        <div class="jumbotron">

            <div id="exTab3" class="container">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#1b" data-toggle="tab">Overview</a>
                    </li>

                    
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1b">
                        <form role="form">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="search" placeholder="Search by Book Name..">
                                </div>
                            </div>
                            
                            <div class="col-md-4 ">
                                @Html.ActionLink("Search", "StudentRegistration", "Account", null, new {@class = "btn btn-success btn-large"})
                            </div>
                        </form>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>



<div class="row">
    <div class="col-md-8">
        <h2>Welcome to the ACCT Library</h2>
        <p>
            The ACCT Library is one of Virginia’s largest research libraries and comprises two branch libraries. Find our information about our Opening Hours here.
        </p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Opening Hours</h2>
        <p>Monday - Friday: 10.00-18.00
        <p>Saturday - Sunday: 09.00-17.00</p>
        <p>The information desk is open from 09.00 on weekdays.</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>